<!-- This has been left intentionally empty -->
<html>
  
  <body>
  
    <div style="margin-left: 5px">
      {% block body %} BODY OF PAGE GOES HERE VIA INHERITANCE {% endblock %}
    </div>

  </body>

</html>
